<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container-fluid container-fluid-custom">
        <h1>About</h1>
        <p>Welcome to our notes-taking application, designed to help you capture and organize your thoughts effortlessly. With our intuitive platform, you can jot down ideas, create reminders, and store important information with ease. Powered by Node.js, Express, MongoDB, and EJS, our application offers a seamless user experience and robust functionality. Whether you're brainstorming, planning, or simply keeping track of your daily tasks, our notes app is here to support your productivity and creativity.</p>
    </div>
</body>
</html>
